@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
}
a {
  text-decoration: none;
}

.btn {
  padding: 10px 10px;
  border-radius: 0.5rem;
  color: white;
}
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.list-style-none {
  list-style-type: none;
}
.container {
  width: 90%;
  margin: auto;
}
.wrapper {
  background-color: #faf0f0;
}
.top-header {
  width: 100%;
  background-color: #009432;
  display: flex;
  justify-content: center;
}

.top-header .content {
  display: flex;
  width: 35%;
  justify-content: space-between;
  padding: 10px;
}

.top-header .content .email a,
.top-header .content .phone a {
  color: white;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1px;
}
#header {
  position: sticky;
  top: 0px;
  background-color: #faf0f0;
  z-index: 10;
}
.below-header {
  padding-top: 0.4rem;
}
.below-header .left {
  width: 120px;
}

.below-header .left a img {
  width: 100%;
}

.below-header .right ul li {
  padding: 10px 20px;
  margin-left: 0.2rem;
  border-radius: 1rem;
  transition: 1s;
}
.below-header .right ul li a {
  color: rgb(40, 33, 33);
}
.below-header .right ul li:last-child {
  background-color: red;
  padding: 12px 30px;
  border-radius: 1rem;
  color: white;
  transition: all 1s;
  box-shadow: 1px 1px 5px maroon;
}
.below-header .right ul li:last-child:hover {
  background-color: green;
  box-shadow: 1px 1px 5px rgb(0, 89, 0);
  padding: 10px 15px;
  color: white;
}
.below-header .right ul li:last-child a {
  color: white;
}
.below-header .right ul li:hover {
  background-color: red;

  color: white;
}
.below-header .right ul li:hover a {
  color: #fff;
}

#banner .heading {
  text-align: center;
  font-size: 2.8rem;
  color: green;
  margin: 2rem;
}
.banner-part .banner-left {
  max-width: 50%;
  padding-right: 2rem;
  text-align: justify;
}
#banner .banner-part .banner-left h3 {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}
#banner .banner-part .banner-left h1 {
  font-size: 3rem;
  color: red;
  padding: 1rem 0;
  font-weight: 800;
}

#banner .banner-part .banner-left p {
  line-height: 1.7rem;
}

#banner .banner-part .banner-right {
  border: 10px solid rgba(253, 232, 109, 0.603);
  border-radius: 10px;
  height: 100%;
}
.btns {
  padding: 2rem 0;
}
.btns ul li:nth-child(odd) {
  background-color: red;
}

.btns ul li:nth-child(even) {
  background-color: green;
}
#offer {
  padding: 40px 0px;
}
#offer .content {
  width: 50%;
}
#offer .content > h2 {
  text-align: center;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  color: red;
  padding: 30px 0px;
}

#offer .content .content-detail {
  width: 100%;
}

#offer .content .content-detail .detail-item {
  padding: 20px 30px;
  background: green;
  display: inline-block;
  border-radius: 5px;
  color: white;
  min-width: 100px;
  text-align: center;
}

#offer .content .content-detail .detail-item:last-child {
  background-color: red;
}
#offer .content .content-detail .detail-item h3 {
  font-size: 2rem;
}
#offer .content .content-detail .detail-item p {
  font-size: 1rem;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.top-btn .top {
  color: #fff;
  background-color: red;
  width: 55px;
  height: 45px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.courses h2 {
  text-align: center;
  margin: 60px 0px;
  font-family: "Lobster", sans-serif;
  color: #009432;
  font-size: 3rem;
}
.courses .course-item {
  flex-wrap: wrap;
}
.courses .course-item .card {
  max-width: 23%;
  border: #009432 1px solid;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  min-width: 23%;
}

.courses .course-item .card h3 {
  margin: 10px 0px;
}
.courses .course-item .card p {
  letter-spacing: 1px;
}
.courses .course-item .card button {
  color: white;
  background-color: red;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin: 20px;
}

.courses .course-item .card button:hover {
  background-color: #fff;
  color: red;
  transition: 0.5s;
  cursor: pointer;
}
/* //Offer animation */
@keyframes offerImage {
  0% {
    transform: translate(-1px, -5px);
  }
  50% {
    transform: translateY(1px, 5px);
  }
  100% {
    transform: translateY(-1px, -5px);
  }
}

.courses .course-item .card img {
  animation: offerImage 1.2s ease-in-out infinite alternate;
}

#aboutus {
  margin: 50px 0px;
}
#aboutus > h2 {
  text-align: center;
  color: #009432;
}

#aboutus .content .top p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4rem;
}
#aboutus .content .top {
  padding: 50px 0px;
}
#aboutus .content a {
  text-align: center;
  color: black;
  font-weight: 500;
}
#aboutus .content .more-btn {
  width: 100%;
}
#aboutus .content .more-btn a {
  width: 140px;
  border-radius: 30px;
  background-color: red;
  padding: 10px 15px;
  color: #fff;
}

.your-class .item {
  width: 90% !important;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  /* background-color: rgb(206, 206, 206); */
  min-height: 30rem;
  border: 2px solid green;
  border-radius: 10px;
  min-height: 38rem;
}

.your-class {
  padding: 3rem 0;
  background-color: #f8fafb;
  border-radius: 30px;
}
.your-class .item a {
  padding: 10px 15px;
  color: white !important;
  background-color: red;
  border-radius: 15px;
}
.your-class .item h3 {
  color: #009432;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 800;
}
.your-class .item h2 {
  color: red;
  font-size: 2.5rem;
}

.your-class .item p {
  padding: 30px 0px;
  text-align: justify;
  line-height: 2rem;
}

#aboutus .content .about-top {
  margin-bottom: 50px;
}
#ceo {
  padding: 5rem 0;
}
#ceo h2 {
  color: #009432;
  text-align: center;
}
#ceo > .content {
  padding: 60px 0px;
}
#ceo .content .left {
  max-width: 50%;
}
#ceo .content .left .content h3 {
  color: red;
  font-size: 2rem;
  margin: 1rem 0;
}
#ceo .content .left .content h5 {
  color: green;
  font-size: 1rem;
  margin: 0 0 1.5rem 0;
}
#ceo .content .left .content h4 {
  color: green;
}
#ceo .content .left .content p {
  line-height: 2rem;
  font-weight: 500;
  color: black;
  margin: 20px 0 30px 0;
}
#ceo .content .left .content a {
  width: 140px;
  border-radius: 30px;
  background-color: red;
  padding: 10px 25px;
  color: #fff;
  margin-top: 80px;
  display: inline-block;
}

#ceo .content .right {
  max-width: 50%;
  border-radius: 10px;
  border: 15px goldenrod solid;
}
#ceo .content .right img {
  min-width: 40rem;
  height: 26rem;
}

#ceo > h2,
#mentors h2 {
  color: green;
  text-align: center;
}
.text-center {
  text-align: center;
}

#mentors {
  margin: 40px 0px;
}
#mentors .content {
  padding: 50px 0px;
}
#mentors .content .items {
  flex-wrap: wrap;
  justify-content: space-around;
}
#mentors .content .items .card {
  width: 23%;
  border: 2px solid green;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgb(98, 239, 98);
  margin: 20px 0px;
}

#mentors .content .items .card img {
  width: 200px;
  height: 200px;
  border-radius: 49% 51% 52% 48% / 34% 35% 65% 66%;
}
#mentors .content .items .card .card-txt {
  margin: 20px 5px;
}

#mentors .content .items .card .card-txt h3 {
  text-align: center;
  font-weight: bold;
}
#mentors .content .items .card .card-txt h4 {
  font-weight: bold;
  font-size: 0.8rem;
  color: #009432;
  text-align: center;
  margin: 5px 0px;
}
#mentors .content .items .card .card-txt p {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}
#mentors .content .items .card .card-txt a {
  width: 100%;
  border-radius: 30px;
  background-color: green;
  padding: 10px 25px;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
}
#mentors .content .items .card .card-txt a:hover {
  width: 100%;
  border-radius: 30px;
  background-color: red;
  transform: translateY(-5px);
  padding: 10px 25px;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
}

#mentors .content a {
  /* width: 100%; */
  border-radius: 30px;
  background-color: red;
  padding: 10px 25px;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
}
